{% load markdown %}
{% load static %}
{% for post in answers %}
<div id="p{{ post.id }}" class="row mb-4">
    <div class="col-lg-1 col-sm-1 d-none d-sm-block pt-4">
        <div class="upvote-container text-center">
            {% if user.is_authenticated %}
                <a class="upVote" data-post="{{ post.id }}" href="#" onclick="return votePost({{ post.id }}, 1);"><img src="{% static '/img/open-iconic/svg/caret-top.svg' %}" alt="Up vote" class="upvote" title="+1 vote"></a>
            {% else %}
                <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">
                    <img src="{% static '/img/open-iconic/svg/caret-top.svg' %}" alt="Up vote" class="upvote" title="+1 vote">
                </a>
            {% endif %}

            <h5 id="postVotes{{ post.id }}" class="upvote-count">{{ post.votes }}</h5>

            {% if user.is_authenticated %}
                <a class="downVote" data-post="{{ post.id }}" href="#" onclick="return votePost({{ post.id }}, 2);"><img src="{% static '/img/open-iconic/svg/caret-bottom.svg' %}" alt="Down vote" class="upvote" title="-1 vote"></a>
            {% else %}
                <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">
                    <img src="{% static '/img/open-iconic/svg/caret-bottom.svg' %}" alt="Down vote" class="upvote" title="-1 vote">
                </a>
            {% endif %}
        </div>
        {% if user.is_authenticated and not question.accepted %}
        <div class="text-center">
            <a class="accept" href="#" onclick="return acceptAnswer({{ question.id }}, {{ post.id }});"><img src="{% static '/img/open-iconic/svg/check.svg' %}" alt="Accepted answer" class="accepted" title="Accepted answer"></a>
        </div>
        {% endif %}

        {% if question.accepted.id == post.id %}
        <div class="text-center">
            <img src="{% static '/img/open-iconic/svg/check.svg' %}" alt="Accepted answer" class="accepted filter-green" title="Accepted answer">
        </div>
        {% endif %}
    </div>
    <div class="col-lg-11 col-sm-11 col-xs-12">
        <div class="post">
            <p class="text-dark">{{ post.body|markdownify|safe }}</p>
            <div class="float-right mb-2">
                <div class="small text-right">
                    {% if user.is_authenticated %}
                        <a href="{% url 'questions:edit' post.id %}" class="no-underline"><i class="far fa-edit"></i> Edit</a>
                        <a href="{% url 'questions:delete' post.id %}" class="no-underline ml-3"><i class="far fa-trash-alt"></i> Delete</a><br>
                    {% endif %}
                    <p class="text-muted">
                        Posted {{ post.published_date }} by <a href="{% url 'user:profile' post.author.id %}" data-toggle="tooltip" data-placement="top" title="{{ post.author.profile.reputation }} rep">{{ post.author.username }}</a>
                        {% if post.author_edit %}
                        <i class="fas fa-pen m1-2" data-toggle="tooltip" data-placement="top" title="Last edited by {{ post.author_edit.username }} on {{ post.edit_date }}"></i>
                        {% endif %}
                    </p>
                </div>
            </div>
            <hr style="clear:both;">
        </div>
        <div class="comments">
            {% include "questions/comments.html" %}
        </div>
    </div>
</div>
{% endfor %}