{% extends "base.html" %}
{% load markdown %}
{% block content %}
<div class="container mt-4" id="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Delete Post Confirmation</h2>
                    <p>Are you sure you want to delete <strong>post name</strong>?<p>
                    <form method="POST" action="{% url 'questions:delete' %}">
                        <input type="submit" class="btn btn-danger">Delete Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}