{% extends "base.html" %}
{% load markdown %}
{% block content %}
<div class="container mt-4" id="content">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <h2>New Question</h2>
                    <form method="POST" action="{% url 'questions:save' %}">
                        <input type="hidden" name="pid" value="0">
                        <input type="hidden" name="qid" value="0">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Question Title">
                        </div>
                        <div class="form-group">
                            <textarea name="post" id="postEditor"></textarea>
                            <script>
                                $(document).ready(function() {
                                    var easyMDE = new EasyMDE({element: document.getElementById('postEditor')});
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="tags" placeholder="Enter to save" data-role="tagsinput">
                        </div>
                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Post</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h6 class="font-weight-bold">Supported Markdown</h6>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}