{% extends "base.html" %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Scientiapy</h1>
        <p class="lead text-muted">Welcome to the <strong>free</strong>, open source knowledge sharing website.</p>
        <p>
            Featuring <strong>{{ questions_count }}</strong> questions, <strong>{{ answers_count }}</strong> answers and <strong>{{ users_count }}</strong> registered users
        </p>
        <a href="{% url 'about' %}" class="btn btn-primary my-2">Features</a>
        <a href="http://www.github.com/penagos/scientiapy" class="btn btn-secondary my-2" target="_blank">Download</a>
        </p>
    </div>
</section>

<div class="container" id="content">
    <div class="row">
        <div class="col-lg-9">
            <div class="d-flex justify-content-between pb-4">
                <div>
                    <h2>{{ title }}</h2>
                </div>
                <div>
                    <ul class="nav nav-pills" style="border: 1px solid #CCCCCC; border-radius: .25rem;">
                        <li class="nav-item">
                          <small><a class="nav-link active" href="?sort=new">Newest</a></small>
                        </li>
                        <li class="nav-item">
                          <small><a class="nav-link" href="?sort=hot">Hot</a></small>
                        </li>
                        <li class="nav-item">
                          <small><a class="nav-link" href="?sort=unanswered">Unanswered</a></small>
                        </li>
                      </ul>
                </div>
            </div>

            {% if count > 0 %}
                {% for question in questions %}
                <div class="card p-3 mb-2">
                    <div class="row mb-4">
                        <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block">
                            <div class="text-center">
                                <h6 class="mb-0">{{ question.votes }}</h6>
                                <p class="small">Votes</p>

                                {% if question.accepted %}
                                    <div class="answer-container accepted-container">
                                {% else %}
                                    <div class="answer-container unanswered-container">
                                {% endif %}

                                    <h6 class="mb-0">{{ question.answers }}</h6>
                                    <p class="small">Ans</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 question">
                            <h6><a href="{% url 'questions:view' question.id %}" class="text-decoration-none">{{ question.title }}</a></h6>
                            <p>{{ question.body|truncatechars:255 }}</p>
                            <span class="float-right"><small class="text-muted"><a href="{% url 'user:profile' question.author.id %}" data-toggle="tooltip" data-placement="top" title="{{ question.author.profile.reputation }} rep">{{ question.author.username }}</a> - {{ question.author.profile.reputation }}<br>{{ question.published_date }}</small></span>
                            
                            {% for tag in question.tags %}
                                <span class="badge badge-primary"><a href="{% url 'questions:index' %}?tag={{ tag }}" class="text-decoration-none">{{ tag }}</a></span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-sm justify-content-end">
                                {% if questions.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">&laquo;</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ questions.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                {% endif %}
                                <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
                                {% if questions.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ questions.next_page_number }}">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ questions.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-warning" role="alert">
                            No questions match your search criteria
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <h6 class="font-weight-bold">Recent Posts</h6>
                    <ul class="sidelist">
                        {% for q in recent %}
                            {% if q.answers %}
                                <li><span class="badge badge-success">{{ q.answers }}</span> <a href="{% url 'questions:view' q.id %}">{{ q.title }}</a></li>
                            {% else %}
                                <li><span class="badge badge-danger">{{ q.answers }}</span> <a href="{% url 'questions:view' q.id %}">{{ q.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <h6 class="font-weight-bold">Hot Posts</h6>
                    <ul class="sidelist">
                        {% for q in hot %}
                            {% if q.answers %}
                                <li><span class="badge badge-success">{{ q.answers }}</span> <a href="{% url 'questions:view' q.id %}">{{ q.title }}</a></li>
                            {% else %}
                                <li><span class="badge badge-danger">{{ q.answers }}</span> <a href="{% url 'questions:view' q.id %}">{{ q.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <h6 class="font-weight-bold">Unanswered Questions</h6>
                    <ul class="sidelist">
                        {% for q in unanswered %}
                            <li><span class="badge badge-danger">{{ q.answers }}</span> <a href="{% url 'questions:view' q.id %}">{{ q.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}