{% extends "base.html" %}
{% load markdown %}
{% block content %}
{% load static %}
<div class="container mt-4" id="content">
    <div class="row">
        <div class="col-lg-9">
            <div id="p{{ question.id }}" class="row">
                <div class="col-lg-12">
                    <h2>{{ question.title }}</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-sm-1 d-none d-sm-block">
                    <div class="upvote-container text-center">
                        {% if user.is_authenticated %}
                            <a class="upVote" data-post="{{ question.id }}" href="javascript:;"><img src="{% static '/img/open-iconic/svg/caret-top.svg' %}" alt="Up vote" class="upvote" title="+1 vote"></a>
                        {% else %}
                            <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">
                                <img src="{% static '/img/open-iconic/svg/caret-top.svg' %}" alt="Up vote" class="upvote" title="+1 vote">
                            </a>
                        {% endif %}

                        <h5 id="postVotes{{ question.id }}" class="upvote-count">{{ question.votes }}</h5>

                        {% if user.is_authenticated %}
                            <a class="downVote" data-post="{{ question.id }}" href="javascript:;"><img src="{% static '/img/open-iconic/svg/caret-bottom.svg' %}" alt="Down vote" class="upvote" title="-1 vote"></a>
                        {% else %}
                            <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">
                                <img src="{% static '/img/open-iconic/svg/caret-bottom.svg' %}" alt="Down vote" class="upvote" title="-1 vote">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-11 col-sm-11 col-xs-12">
                    <p>
                        {{ question.body|markdownify|safe }}
                    </p>
                    <hr>
                    <p class="small text-muted text-right">
                        Posted on {{ question.published_date }} by <a href="{% url 'user:profile' question.author.id %}">{{ question.author.username }}</a>.<br>
                        {% if question.author_edit %}
                        Last edited on {{ question.edit_date }} by <a href="{% url 'user:profile' question.author_edit.id %}">{{ question.author_edit.username }}</a>.
                        {% endif %}
                    </p><br>

                    {% if user.is_authenticated %}
                    <a href="{% url 'questions:edit' question.id %}">Edit</a>
                    {% endif %}

                    {% for tag in question.tags %}
                        <span class="badge badge-primary">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs justify-content-end">
                        <li class="nav-item">
                            <a id="sortByVotes" class="nav-link active" href="#">Votes</a>
                        </li>
                        <li class="nav-item">
                            <a id="sortByNew" class="nav-link" href="#">New</a>
                        </li>
                        <li class="nav-item">
                            <a id="sortByOld" class="nav-link" href="#">Old</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content">
                <h4>Answers</h4>
                {% for post in answers %}
                    <div id="p{{ post.id }}" class="row mb-4">
                        <div class="col-lg-1 col-sm-1 d-none d-sm-block">
                            <div class="upvote-container text-center">
                                {% if user.is_authenticated %}
                                    <a class="upVote" data-post="{{ post.id }}" href="javascript:;"><img src="{% static '/img/open-iconic/svg/caret-top.svg' %}" alt="Up vote" class="upvote" title="+1 vote"></a>
                                {% else %}
                                    <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">
                                        <img src="{% static '/img/open-iconic/svg/caret-top.svg' %}" alt="Up vote" class="upvote" title="+1 vote">
                                    </a>
                                {% endif %}

                                <h5 id="postVotes{{ post.id }}" class="upvote-count">{{ post.votes }}</h5>

                                {% if user.is_authenticated %}
                                    <a class="downVote" data-post="{{ post.id }}" href="javascript:;"><img src="{% static '/img/open-iconic/svg/caret-bottom.svg' %}" alt="Down vote" class="upvote" title="-1 vote"></a>
                                {% else %}
                                    <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">
                                        <img src="{% static '/img/open-iconic/svg/caret-bottom.svg' %}" alt="Down vote" class="upvote" title="-1 vote">
                                    </a>
                                {% endif %}
                            </div>
                            {% if user.is_authenticated and not question.accepted_id %}
                            <div class="text-center">
                                <a class="accept" data-post="{{ post.id }}" data-question="{{ question.id }}" href="javascript:;"><img src="{% static '/img/open-iconic/svg/check.svg' %}" alt="Accepted answer" class="accepted" title="Accepted answer"></a>
                            </div>
                            {% endif %}

                            {% if question.accepted_id.id == post.id %}
                            <div class="text-center">
                                <img src="{% static '/img/open-iconic/svg/check.svg' %}" alt="Accepted answer" class="accepted" title="Accepted answer">
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-11 col-sm-11 col-xs-12">
                            <div class="post">
                                <p class="text-dark">{{ post.body|markdownify|safe }}</p>
                                {% if user.is_authenticated %}
                                    <p class="small text-muted">
                                        <a href="{% url 'questions:edit' post.id %}">Edit</a>
                                    </a><br>
                                {% endif %}
                                <p class="small text-muted text-right">
                                    Posted on {{ post.published_date }} by <a href="{% url 'user:profile' post.author.id %}">{{ post.author.username }}</a><br>
                                    {% if post.author_edit %}
                                    Last edited on {{ post.edit_date }} by <a href="{% url 'user:profile' post.author_edit.id %}">{{ post.author_edit.username }}</a>.
                                    {% endif %}
                                </p>
                                <hr>
                            </div>
                            <div class="comments">
                                {% for comment in post.comment_set.all %}
                                    <div class="comment" id="c{{ comment.id }}">
                                        <p class="small">
                                            {{ comment.body }}. <span class="text-muted">Posted {{ comment.date }} by <a href="{% url 'user:profile' comment.author.id %}">{{ comment.author.username }}</a></span>
                                        </p>
                                        <hr>
                                    </div>
                                {% endfor %}
                                <div class="comment-poster">
                                    {% if user.is_authenticated %}
                                        <form method="POST" action="{% url 'questions:save' %}">
                                        {% csrf_token %}
                                        <div id="comment{{ post.id }}">
                                            <p class="small"><a href="#" class="commentPoster" data-target="comment{{ post.id }}" data-postid="{{ post.id }}">Post comment</a></p>
                                        </div>
                                        </form>
                                    {% else %}
                                        <p class="small">Please <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">login</a> to post a comment.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="card text-center load-more">
                            <div class="card-header">
                               <a href="" class="text-decoration-none">Load 42 more answers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="mb-3">Post an Answer</h4>
                    {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'questions:save' %}">
                        <input type="hidden" name="qid" value="{{ question.id }}">
                        <input type="hidden" name="pid" value="0">
                        {% csrf_token %}
                        <textarea name="post" id="postEditor"></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                        <script>
                            $(document).ready(function() {
                                var easyMDE = new EasyMDE({element: document.getElementById('postEditor')});
                            });
                        </script>
                    </form>
                    {% else %}
                    <div class="alert alert-primary" role="alert">
                        Please <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">login</a> to post an answer. <a href="{% url 'user:join' %}">Need an account</a>?
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="mb-4">
                <h6 class="font-weight-bold">Related Questions</h6>
                <ul class="sidelist">
                    {% for q in related %}
                        <li><a href="{% url 'questions:view' q.id %}">{{ q.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // handlePostFlash();
    });
</script>
{% endblock %}