{% extends "base.html" %}
{% load markdown %}
{% block content %}
{% load static %}
<div class="container mt-4" id="content">
    <div class="row mb-4">
        <div class="col-lg-9">
            <div id="p{{ question.id }}" class="row">
                <div class="col-lg-12">
                    <h2>{{ question.title }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 card">
            <div class="row">
                <div class="col-lg-1 col-sm-1 d-none d-sm-block pt-4">
                    <div class="upvote-container text-center">
                        {% if user.is_authenticated %}
                            <a class="upVote" data-post="{{ question.id }}" href="#" onclick="return votePost({{ question.id }}, 1);"><img src="{% static '/img/open-iconic/svg/caret-top.svg' %}" alt="Up vote" class="upvote" title="+1 vote"></a>
                        {% else %}
                            <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">
                                <img src="{% static '/img/open-iconic/svg/caret-top.svg' %}" alt="Up vote" class="upvote" title="+1 vote">
                            </a>
                        {% endif %}

                        <h5 id="postVotes{{ question.id }}" class="upvote-count">{{ question.votes }}</h5>

                        {% if user.is_authenticated %}
                            <a class="downVote" data-post="{{ question.id }}" href="#" onclick="return votePost({{ question.id }}, 2);"><img src="{% static '/img/open-iconic/svg/caret-bottom.svg' %}" alt="Down vote" class="upvote" title="-1 vote"></a>
                        {% else %}
                            <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">
                                <img src="{% static '/img/open-iconic/svg/caret-bottom.svg' %}" alt="Down vote" class="upvote" title="-1 vote">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-11 col-sm-11 col-xs-12">
                    <p>
                        {{ question.body|markdownify|safe }}
                    </p>

                    <div class="float-right mb-2">
                        <div class="small text-right">
                            {% if user.is_authenticated %}
                                <a href="{% url 'questions:edit' question.id %}" class="no-underline"><i class="far fa-edit"></i> Edit</a>
                                <a href="{% url 'questions:delete' question.id %}" class="no-underline ml-3"><i class="far fa-trash-alt"></i> Delete</a>
                                <a href="#" class="no-underline ml-3"><i class="fas fa-lock"></i> Lock</a><br>
                            {% endif %}
                            <p class="text-muted">
                                Posted {{ question.published_date }} by <a href="{% url 'user:profile' question.author.id %}" data-toggle="tooltip" data-placement="top" title="{{ question.author.profile.reputation }} rep">{{ question.author.username }}</a>
                                {% if question.author_edit %}
                                <br>Last edited on {{ question.edit_date }} by <a href="{% url 'user:profile' question.author_edit.id %}" data-toggle="tooltip" data-placement="top" title="{{ question.author_edit.profile.reputation }} rep">{{ question.author_edit.username }}</a>.
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <hr style="clear:both;">


                    {% for tag in question.tags %}
                        <span class="badge badge-primary"><a href="{% url 'questions:index' %}?tag={{ tag }}">{{ tag }}</a></span>
                    {% endfor %}
                </div>
            </div>

            {% if answers|length > 0%}
            <div class="row mb-2 mt-4">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item mr-auto">
                            <h4>{{ answers|length }} Answer{% if answers|length != 1%}s{% endif %}</h4>
                        </li>
                        <li class="nav-item">
                            <a id="sortByVotes" class="nav-link active" href="#" data-qid="{{ question.id }}">Votes</a>
                        </li>
                        <li class="nav-item">
                            <a id="sortByNew" class="nav-link" href="#" data-qid="{{ question.id }}">New</a>
                        </li>
                        <li class="nav-item">
                            <a id="sortByOld" class="nav-link" href="#" data-qid="{{ question.id }}">Old</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="row mb-4"><br></div>
            {% endif %}

            <div class="tab-content" id="answersContainer">
                {% include "questions/answers.html" %}   
                <!--
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="card text-center load-more">
                            <div class="card-header">
                               <a href="" class="text-decoration-none">Load 42 more answers</a>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div> <!-- end answers -->
            <div class="row">
                <div class="col-lg-12 pb-3 mt-2">
                    <h4 class="mb-3">Post an Answer</h4>
                    {% if user.is_authenticated %}
                    <p>You may use any valid Markdown syntax</p>
                    <form method="POST" action="{% url 'questions:save' %}">
                        <input type="hidden" name="qid" value="{{ question.id }}">
                        <input type="hidden" name="pid" value="0">
                        {% csrf_token %}
                        <textarea name="post" id="postEditor"></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                        <script>
                            $(document).ready(function() {
                                var easyMDE = new EasyMDE({element: document.getElementById('postEditor')});
                            });
                        </script>
                    </form>
                    {% else %}
                    <div class="alert alert-primary" role="alert">
                        Please <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">login</a> to post an answer. <a href="{% url 'user:join' %}">Need an account</a>?
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="mb-4">
                <h6 class="font-weight-bold">Related Questions</h6>
                <ul class="sidelist">
                    {% for q in related %}
                        {% if q.answers %}
                            <li><span class="badge badge-success">{{ q.answers }}</span> <a href="{% url 'questions:view' q.id %}">{{ q.title }}</a></li>
                        {% else %}
                            <li><span class="badge badge-danger">{{ q.answers }}</span> <a href="{% url 'questions:view' q.id %}">{{ q.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // handlePostFlash();
    });
</script>
{% endblock %}