{% extends "email/email_base.html" %}
{% load markdown %}

{% block preview %}
A new reply was posted in "{{ post.title }}" by <strong>{{ reply.author.username }}</strong> and you are on the question notifylist.
{% endblock %}

{% block title %}
RE: {{ post.title }}
{% endblock %}

{% block leadtext %}
A new reply was posted in <a href="{{ home_url }}" target="_blank">{{ post.title }}</a> by <strong>{{ reply.author.username }}</strong> and you are on the question notifylist. The reply posted was:
{% endblock %}

{% block body %}
{{ reply.body|markdownify|safe }}
{% endblock %}