{% extends "email/email_base.html" %}
{% load markdown %}

{% block preview %}
A new question "{{ post.title }}" was posted on <a href="{{ home_link }}" target="_blank">Scientiapy</a> by <strong>{{ post.author.username }}</strong> and they put you on the notifylist.
{% endblock %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block leadtext %}
A new question was posted on <a href="{{ home_link }}" target="_blank">Scientiapy</a> by <strong>{{ post.author.username }}</strong> and they put you on the notifylist. The question asked was:
{% endblock %}

{% block body %}
{{ post.body|markdownify|safe }}
{% endblock %}

{% block actionbutton %}
<a href="{{ action_link }}" target="_blank" style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">View Reply</a>
{% endblock %}