.fancybox-content {
    overflow: hidden;
    padding: 0px;
}

.question p {
    margin-bottom: 0.4rem;
}

.question-stat {
    padding: .5rem 1rem;
    width: 100%;
    text-align: center;
}
.postFlashHide {
    transition: visibility 0s 2s, opacity 2s linear;
}
.postFlash {
    background: #ffca60;
    -webkit-transition:background 1.5s;
    -moz-transition:background 1.5s;
    -o-transition:background 1.5s;
    transition:background 1.5s
}

.badge {
    padding: 0.5em 0.6em;
}

ul.sidelist {
    font-size: 0.8rem;
    padding-left: 18px;
}

/* AJAX form loader spinner overlay */
.loader {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.7)
}

.load-more:hover {
    background: #F7F7F7;
    transition: 0.5s;
}

.upvote {
    width: 36px;
    height: 36px;
}

.accepted {
    width: 36px;
    height: 36px;
}

.upvote-count {
    margin-bottom: 0px;
}

/* TODO: replace with nice images */
#loginBackground {
    /* background-color: #feb236; */
    background-image: url('/static/img/login.jpg');
    background-size: cover;
}
#joinBackground {
    background-color: #86af49;
}