.fancybox-content {
    overflow: hidden;
    padding: 0px;
}

.question p {
    margin-bottom: 0.4rem;
}

.question-stat {
    padding: .5rem 1rem;
    width: 100%;
    text-align: center;
}

ul.sidelist {
    font-size: 0.8rem;
    padding-left: 18px;
}

/* AJAX form loader spinner overlay */
.loader {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.7)
}

/* TODO: replace with nice images */
#loginBackground {
    background-color: #feb236;
}
#joinBackground {
    background-color: #86af49;
}