{% load static %}
<div class="container" style="max-width: 500px;">
    <div class="row no-gutter">
        <div class="col-md-12 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="text-center">Join Scientiapy Today</h3>
                            <div id="loginError"></div>
                            <div id="loginLoader" class="loader">
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <form id="loginForm" class="mt-4" method="POST" action="{% url 'user:join' %}">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <input type="text" name="username" placeholder="Username" required="" autofocus="1" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="email" name="email" placeholder="Email" required="" autofocus="1" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" name="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" name="password2" placeholder="Confirm Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 mt-4 rounded-pill shadow-sm">Join</button>
                                <div class="custom-control custom-checkbox mb-3 text-center">
                                    <span class="small">By signing up I agree to the <a data-fancybox data-type="ajax" data-src="{% url 'legal:termsofservice' %}" href="javascript:;">terms of service</a> and <a data-fancybox data-type="ajax" data-src="{% url 'legal:privacypolicy' %}" href="javascript:;">privacy policy</a></span>
                                </div>
                            </form>

                            <script>
                                $("#loginForm").submit(function() {
                                    var form = $(this);
                                    $('#loginLoader').fadeIn('fast', function() {
                                        $.ajax({
                                            data: form.serialize(),
                                            type: form.attr('method'),
                                            url:  form.attr('action'),
                                            success: function(response) {
                                                if (response.success) {
                                                    // TODO: check if originated from standard login page.
                                                    // If so, redirect to HTTP request origin
                                                    location.reload();
                                                } else {
                                                    $('#loginError').html(errorMessage(response.message));
                                                }
                                            },
                                            complete: function() {
                                                $('#loginLoader').fadeOut('fast');
                                            }
                                        });
                                    });

                                    return false;
                                });
                            </script>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>

