{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex" id="joinBackground"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3>Join Scientiapy</h3>
                            <p>
                                Join the best free open source content sharing platform. Registration is free and lets you comment on any question, post new questions and more.
                            </p>
                            <form class="mt-4">
                                <div class="form-group mb-3">
                                    <input type="text" placeholder="Username" required="" autofocus="1" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="email" placeholder="Email" required="" autofocus="1" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" placeholder="Confirm Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="agreeTOSPrivacy" type="checkbox" class="custom-control-input">
                                    <label for="agreeTOSPrivacy" class="custom-control-label">I agree to the <a data-fancybox data-type="ajax" data-src="{% url 'legal:termsofservice' %}" href="javascript:;">terms of service</a> and <a data-fancybox data-type="ajax" data-src="{% url 'legal:privacypolicy' %}" href="javascript:;">privacy policy</a></label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                                <div class="text-center d-flex justify-content-between mt-2">
                                    <p><a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" href="javascript:;">Have an account?</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
{% endblock %}