{% extends "base.html" %}
{% load markdown %}
{% block content %}
{% load static %}
<div class="container mt-4" id="content">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Settings</h2>

                    {% if request.GET.success %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Settings were successfully saved!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                    {% endif %}
                    <form method="POST" action="{% url 'user:settings' uid %}">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="weeklyDigests">Weekly Email Digests</label>
                          <input id="weeklyDigests" type="checkbox" name="receive_digests" data-toggle="toggle" {{ receive_digests }}>
                          <small class="form-text text-muted">Receive a summary of all new questions weekly</small>
                        </div>
                        <div class="form-group">
                            <label for="darkMode">Subscribe to All</label>
                            <input type="checkbox" name="subscribe_all" data-toggle="toggle" {{ subscribe_all }}>
                            <small class="form-text text-muted">Receive an email anytime a new question is posted</small>
                        </div>
                        <div class="form-group">
                            <label for="darkMode">Dark Mode</label>
                            <input type="checkbox" name="dark_mode" data-toggle="toggle">
                            <small class="form-text text-muted">Browse Scientiapy with a dark colorscheme</small>
                        </div>
                        <div class="form-group">
                            <label for="darkMode">Avatar</label>
                            <input type="file" class="form-control" name="avatar">
                            <small class="form-text text-muted">Recommended file format is PNG</small>
                        </div>
                        <div class="form-group">
                            <label for="aboutMe">About Me</label>
                            <textarea id="aboutMe" name="about" class="form-control" rows="5">{{ aboutme }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}