<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Scientiapy{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-4.5.0/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-toggle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/fontawesome/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/fancybox3/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/easymde/easymde.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/highlight.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

    <script src="{% static '/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static '/js/handlebars.js' %}"></script>
    <script src="{% static '/js/typeahead.bundle.js' %}"></script>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="15">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <div class="container">
        <div class="d-flex flex-grow-1">
            <a href="/" class="navbar-brand">Scientiapy</a>
            <a class="nav-link" href="{% url 'questions:index' %}">Questions <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="{% url 'questions:tags' %}">Tags</a>
            <a class="nav-link" href="#">Users</a>
            <form class="mr-2 my-auto w-100 d-inline-block order-1" method="GET" action="{% url 'questions:index' %}">
                <div class="input-group">
                    <input id="main-search" type="text" name="q" class="form-control border border-right-0" required="" placeholder="Search...">
                    <span class="input-group-append">
                        <button class="btn btn-outline-dark border border-left-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbar7">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse flex-shrink-1 flex-grow-0 order-last" id="navbar7">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountActions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="accountActions">
                                <a class="dropdown-item" href="{% url 'user:profile' user.id %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'user:settings' user.id %}">Settings</a>

                                {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="btn btn-primary" href="{% url 'questions:ask' %}">Ask Question</a></li>
                {% else %}
                    <li class="nav-item">
                        <a data-fancybox data-type="ajax" data-src="{% url 'user:login' %}" class="btn" href="javascript:;">Login</a> 
                    </li>
                    <li class="nav-item">
                        <a data-fancybox data-type="ajax" data-src="{% url 'user:join' %}" class="btn btn-primary" href="javascript:;">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <div class="container mt-5 mb-4 pb-4 text-center" id="footer">
        <span class="text-muted font-weight-light">&copy; Scientiapy 2020. Designed by <a href="http://www.github.com/penagos" target="_blank">Luis</a>.</span>
    </div>

    <!--<script src="{% static '/js/bootstrap-4.5.0/bootstrap.min.js' %}"></script>-->
    <script src="{% static '/js/bootstrap-4.5.0/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/bootstrap-toggle.min.js' %}"></script>
    <script src="{% static '/js/fancybox3/jquery.fancybox.min.js' %}"></script>
    <script src="{% static '/js/easymde/easymde.min.js' %}"></script>
    <script src="{% static '/js/js.cookie.min.js' %}"></script>
    <script src="{% static '/js/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static '/js/highlight.min.js' %}"></script>
    <script src="{% static '/js/app.js' %}?v=1"></script>

    <script id="empty-template" type="text/x-handlebars-template">
        <div class="result-card" style="width: 100%;">
            <p class="text-secondary">
                No questions match your query
            </p>
        </div>
    </script>

    <script id="result-template" type="text/x-handlebars-template">
        <div class="result-card">
            <h6><a href="{% verbatim %} {{url}} {% endverbatim %}">{% verbatim %}{{title}}{% endverbatim %}</a></h6>
            <p>
                {% verbatim %}{{description}}{% endverbatim %}
            </p>
            <small class="text-secondary">Posted by {% verbatim %}{{author}}{% endverbatim %} on {% verbatim %}{{published_date}}{% endverbatim %} </small>
        </div>
    </script>

    <script>
        hljs.initHighlightingOnLoad();

        var engine, template, empty;

        $.support.cors = true;

        engine = new Bloodhound({
            identify: function(o) { return o.id_str; },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title', 'description'),
            dupDetector: function(a, b) { return a.id_str === b.id_str; },
            remote: {
                url: '/?ajax=1&q=%QUERY',
                wildcard: '%QUERY'
            }
        });

        function engineWithDefaults(q, sync, async) {
            engine.search(q, sync, async);
        }

        template = Handlebars.compile($("#result-template").html());
        empty = Handlebars.compile($("#empty-template").html());

        $('#main-search').typeahead({
            hint: $('.Typeahead-hint'),
            menu: $('.Typeahead-menu'),
            minLength: 0,
            classNames: {
            open: 'is-open',
            empty: 'is-empty',
            cursor: 'is-active',
            suggestion: 'Typeahead-suggestion',
            selectable: 'Typeahead-selectable'
            }
        }, {
            source: engineWithDefaults,
            displayKey: 'title',
            templates: {
                suggestion: template,
                empty: empty
            }
        })

    </script>
</body>
</html>
